<!DOCTYPE html>
<html>

<body>
    <img id="loader" src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif">
    <script src="./node_modules/web3/dist/web3.min.js"></script>

    <div class="jumbotron text-center">
        <h1>Example  etheruem blockchain </h1>
        <p>Transactions, calls, logs and events!</p> 
        <img src="./images/etheruemicon.png" alt="Mountain View" height="147" width="91">
    </div>
    
    <h2>harvest money from the contract: <span class="label label-default">Push the botton!</span></h2> <br>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <input type="text" class="form-control" id="collectmoneycontract" > 
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="collect"  >Collect!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <h2>Verify money in  the contract: <span class="label label-primary">Push the botton!</span></h2> <br>
   
    <div class="col-lg-4 col-lg-offset-4">
        <button class="btn btn-default center-block col-lg-12" type="button" id="verify"  >Verify!</button> 
    </div>         
     <br>

    <h2>Transfer money to the contract <span class="label label-success">Push the botton!</span></h2> <br>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="input-group">
                <input type="text" class="form-control" id="transferiracontrato" > 
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="transfermony"  >Transfer!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
   
    <br> <br> <br>
     
    <div class="container"> 
        <input type="submit" class="btn btn btn-default col-md-3" value="Filter logs" id="filterlogs">
        <input type="submit" class="btn btn-primary col-md-3" value="account harvest" id="filtereventsharvest">
        <input type="submit" class="btn btn-info col-md-3" value="account transfer" id="filtereventtransfer">
        <input type="submit" class="btn btn-success col-md-3" value="All events " id="filterallevents">
    </div>

    

      <center><h2>Logs and events in real time money </h2></center> <br>

      <div class="container"> 
            <div class="btn-group-vertical col-md-6">
                <input type="submit" class="btn btn btn-default" value="Filter logs time real" id="filterlogsreal">
                <input type="submit" class="btn btn btn-danger" value="stop logs" id="stoplogs">
            </div>
            <div class="btn-group-vertical col-md-6">
                <input type="submit" class="btn btn-success col-md-3" value="filter events time real " id="filtereventsreal">
                <input type="submit" class="btn btn-success col-md-3" value="stop events " id="stopevents">
            </div>
        </div>
        <br>
        <table class="table" id="tableconcat"> 
            <thead>
                <tr>
                    <th id= "numblock"> Num Bloque</th>
                    <th id="accountevent">Account</th>
                    <th id="dataammount">Ammount</th>
                    <th id="datadate">Date</th>
                </tr>
            </thead>
            <tbody id="tablerow">

            </tbody>
        </table>
      




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="js/bignumber.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script>
        var filter=null;
        var events=null;
        // arrays events and filters
        var Blockslogs=[];
        var Accountlogs=[];
        var Ammount=[]; 
        var Eventslogs=[];
        var Collectorlogs=[];
        var Incblocks=0;
        var Eventsignature=[];
        var Datafilter=[];
        var Topicvar=[];


        

        function clearArrays(){
            Blockslogs=[];
            Ammount=[];
            Accountlogs=[];
            Incblocks=[];
            Eventslogs=[];
        }

        function createArrayEvents(logs){

            for(i=0;i<logs.length;i++)
            {
                Blockslogs.push(logs[i].blockNumber);  
                Accountlogs.push(logs[i].args.pagador);
                Collectorlogs.push(logs[i].args.cobrador);
                Ammount.push(logs[i].args.cantidad.toString());
                Eventslogs.push(logs[i].event);
            }
        }

        if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
           web3 = new Web3(new Web3.providers.HttpProvider("http://localhost:8545"));
        }
        web3.eth.defaultAccount = web3.eth.accounts[0];
        
        var contract_abidefinition='[{"constant":false,"inputs":[{"name":"amount","type":"uint256"}],"name":"Cobrar","outputs":[],"payable":false,"stateMutability":"nonpayable","type":"function"},{"constant":true,"inputs":[],"name":"AcumuladoContrato","outputs":[{"name":"","type":"uint256"}],"payable":false,"stateMutability":"view","type":"function"},{"constant":false,"inputs":[],"name":"PagarMas","outputs":[],"payable":true,"stateMutability":"payable","type":"function"},{"inputs":[],"payable":true,"stateMutability":"payable","type":"constructor"},{"anonymous":false,"inputs":[{"indexed":true,"name":"pagador","type":"address"},{"indexed":false,"name":"cantidad","type":"uint256"}],"name":"QuienPago","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"cobrador","type":"address"},{"indexed":false,"name":"cantidad","type":"uint256"}],"name":"QuienCobro","type":"event"}]';
        var abiDefinition= JSON.parse(contract_abidefinition);
        // crear objeto de tipo contrato con el json
        var contract = web3.eth.contract(abiDefinition);
        var instance= contract.at("0x3a56fdc9a25614f8a6cc013ed44c7fb58c6a8eb0");
        console.log(instance);
        $("#loader").hide();
        var fecha=new Date();
        fecha= fecha.toString();
        console.log(fecha);
        
        $("#collect").click(function() {
            console.log("ingreso una vez ");
            $("#loader").show();
            var value=$('#collectmoneycontract').val();
            instance.Cobrar(web3.toWei(value, 'ether'),(err,res)=>{ 
                if (!err) {
                $("#loader").hide();
                $("#collectlabelmoney").text(res);
                }
                else {
                    $("#loader").hide();
                    alert(err);
                
                }
            });
        
        });

      $("#verify").click(function() {
        console.log("verificar");
        $("#loader").show();
        console.log(web3.eth.defaultAccount)
        instance.AcumuladoContrato((err,res)=>{ 
            if (err) {
                alert("ocurrio un error!");
            }
            else {
                alert(res);
            }
            $("#loader").hide();});
    
        });

      $("#transfermony").click(function() {
        console.log("verificar");
        $("#loader").show();
        var valor=$('#transferiracontrato').val();
        console.log(valor);
        instance.PagarMas({
            // from: web3.eth.defaultAccount,
             value: web3.toWei(valor, 'ether'), 
           },(err,res)=>{ 
              if (!err) {
                  alert("la transacción es:" +res);
            $("#loader").hide();
              }
              else {
                  alert(err);
                  $("#loader").hide();
              }      
        });
    
      });

      $("#filterlogs").click(function(){
        $("#accountevent").text("event signature");
        $("#dataammount").text("topic variable");
        $("#datadate").text("data");
        $("#tablerow").html("");
        

     

        var options= {
            fromBlock:"1",
            toBlock: "latest",
            address: "0x3a56fdc9a25614f8a6cc013ed44c7fb58c6a8eb0"
        };
        filter = web3.eth.filter(options);
        filter.get(function(error,logs){
            if(error){
                console.log('GET Error:',error);
                
            } else {
                console.log(logs);
                for(i=0;i<logs.length;i++)
               {
                 
                  $("#tablerow").append(
                    "<tr>" +
                        "<td>"+ logs[i].blockNumber +"</td>" +   
                        "<td>"+ logs[i].topics[0] + "</td>" +   
                        "<td>"+ logs[i].topics[1]+ "</td>" +   
                        "<td>"+logs[i].data+"</td>" + 
                        "</tr>" 
                                                        )
               
                    
               }    
            }    

        });

    });

    $("#filtereventsharvest").click(function(){
        $("#accountevent").text("address");
        $("#tablerow").html("");
        $("dataammount").text("Ammount");    
        $("#datadate").text("Date");

        clearArrays(); 

         events = instance.QuienCobro({cobrador:web3.eth.defaultAccount},{ fromBlock:1, toBlock: "latest" });
      
         events.get(function(error, logs){
            if(error){
                console.log('GET Error:',error);
                
            } else {
                console.log(logs);
                createArrayEvents(logs);      
                for(i=0;i<logs.length;i++)
                { 

                    web3.eth.getBlock(logs[i].blockNumber,(err,res) => {
                        if (err) {
                            console.log(err);
                        }
                        else {
                            Incblocks++;
                            console.log(Incblocks);
                        
                            $("#tablerow").append(
                                "<tr>" +
                                    "<td>"+ Blockslogs[Incblocks-1] +"</td>" +   
                                    "<td>"+ Collectorlogs[Incblocks-1] + "</td>" +   
                                    "<td>"+ Ammount[Incblocks-1] + "</td>" +   
                                    "<td>"+new Date((res.timestamp)*1000)+"</td>" + 
                                    "</tr>" 
                                                                    )
                        }    
    
                    });
                    
                }    

            }
      
        });

    });



    $("#filtereventtransfer").click(function(){
        $("dataammount").text("Ammount");    
        $("#datadate").text("Date");
        $("#accountevent").text("address");
        $("#tablerow").html("");
        
        clearArrays(); 

         events = instance.QuienPago({pagador:web3.eth.defaultAccount},{ fromBlock:1, toBlock: "latest" });
      
         events.get(function(error, logs){
            if(error){
                console.log('GET Error:',error);
                
            } else {
                console.log(logs);
                createArrayEvents(logs);      
                for(i=0;i<logs.length;i++)
                { 

                    web3.eth.getBlock(logs[i].blockNumber,(err,res) => {
                        if (err) {
                            console.log(err);
                        }
                        else {
                            Incblocks++;
                            console.log(Incblocks);
                        
                            $("#tablerow").append(
                                "<tr>" +
                                    "<td>"+ Blockslogs[Incblocks-1] +"</td>" +   
                                    "<td>"+ Accountlogs[Incblocks-1] + "</td>" +   
                                    "<td>"+ Ammount[Incblocks-1] + "</td>" +   
                                    "<td>"+new Date((res.timestamp)*1000)+"</td>" + 
                                    "</tr>" 
                                                                    )
                        }    
    
                    });
                    
                }    

            }
      
        });

    });


    $("#filterallevents").click(function(){
        
        clearArrays(); 
        $("#tablerow").html("");
        $("dataammount").text("Ammount");    
        $("#accountevent").text("Evento");
        $("#datadate").text("Date");
         
        console.log("se pulso boton filtrar logs!");
         events = instance.allEvents({ fromBlock:1, toBlock: "latest" });
      
         events.get(function(error, logs){
            if(error){
                console.log('GET Error:',error);
                
            } else {
                console.log(logs);
                console.log(logs);
                createArrayEvents(logs);      
                for(i=0;i<logs.length;i++)
                {
                    console.log(logs.length);
                    console.log(Blockslogs.length);
                    web3.eth.getBlock(logs[i].blockNumber,(err,res) => {
                        if (err) {
                            console.log(err);
                            
                        }
                        else {
                            Incblocks++;
                            console.log(Incblocks);
                        
                            $("#tablerow").append(
                                "<tr>" +
                                    "<td>"+ Blockslogs[Incblocks-1] +"</td>" +   
                                    "<td>"+ Eventslogs[Incblocks-1] + "</td>" +   
                                    "<td>"+ Ammount[Incblocks-1] + "</td>" +   
                                    "<td>"+new Date((res.timestamp)*1000)+"</td>" + 
                                    "</tr>" 
                                                                    )
                                                        
                                                                    // prueba=res.timestamp;
                            console.log(res);   
                            console.log(new Date((res.timestamp)*1000));
                            //console.log(Date((res.timestamp+inc)*1000));
                            // }
                        }    
    
                    });
                    
                } 

            }
      
        });
           
    });

    $("#filterlogsreal").click(function(){
        console.log("se pulsaron los logs reales!");
        var options= {
            fromBlock:2381500,
            toBlock: "latest",
            address: "0x3a56fdc9a25614f8a6cc013ed44c7fb58c6a8eb0"
        };

         filter=  web3.eth.filter(options);

        filter.watch(function(error,logs){
            if(error){
                console.log('GET Error:',error);
                
            } else {
                console.log("ingreso a los logs!")
                console.log(logs);
           
            }    

        });
           
    });


    $("#stoplogs").click(function(){

        filter.stopWatching();
     
                   
    });


    $("#filtereventsreal").click(function(){
        events = instance.allEvents({ fromBlock:1, toBlock: "latest" });
        
           events.watch(function(error, logs){
              if(error){
                  console.log('GET Error:',error);
                  
              } else {
                  console.log(logs);
              }
        
          });
           
    });


    $("#stopevents").click(function(){

        events.stopWatching();
     
                   
    });

  

      // evento apenas se recarga la pagina
      window.onload = function() {  
        console.log("se cargo la pagina"); 
        
        
      };







    </script>
   

</body>
</html>